<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d %p [%c] - %m%n</Pattern>
        </layout>
    </appender>

    <!-- Hibernate Loggers -->
    <logger name="br.com.giselepm">
        <level value="DEBUG" />
    </logger>

    <logger name="org.hibernate">
        <level value="INFO" />
    </logger>

    <logger name="org.unitils">
        <level value="INFO" />
    </logger>

    <root level="INFO">
        <appender-ref ref="stdout" />
    </root>
</configuration>